﻿@model ProjectSDT.Models.User;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container p-5 my-3">
    <hr />
    <div class="row">
        <div class="col-md-7 col-lg-5 col-12 mx-auto rounded-0">
            <div class="p-5" style="background-color: #f6f8f7;">
                <form asp-action="ChangePassword" id="RegisterForm">
                    <h2 class="pb-3 text-center text-muted">Change Password</h2>
                    @if (ViewData["successMessage"] != null)
                    {
                        <span class="text-success py-3">@ViewData["successMessage"]</span>
                    }
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input asp-for="Password" id="passwordField" type="password" MinimumLowerCaseCharacters="2" MinimumNumericCharacters="2" MinimumUpperCaseCharacters="2" PreferredPasswordLength="10" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input asp-for="Password" id="passwordField2" type="password" MinimumLowerCaseCharacters="2" MinimumNumericCharacters="2" MinimumUpperCaseCharacters="2" PreferredPasswordLength="10" class="form-control" />
                        <small id="passwordStrength"></small>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="showPasswordCheck" /> Show Password
                    </div>
                    <div class="form-group text-center pt-3">
                        <input type="submit" value="Update Profile" style="border-radius:50px;" class="btn py-4" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
    $(function () {
        $("#showPasswordCheck").on('change', function () {
            if ($(this).prop("checked") == true) {
                $("#passwordField").attr("type", "text");
                $("#passwordField2").attr("type", "text");
            } else{
                $("#passwordField").attr("type", "password");
                $("#passwordField2").attr("type", "text");
            }
        });

        $("#RegisterForm").on("submit", function () {
            if ($("#passwordField").val() != $("#passwordField2").val()) {
                $("#passwordStrength").attr('class', "text-danger");
                $("#passwordStrength").html("<i class=' fas fa-exclamation-triangle'></i> Password Doesn't Match");
                return false;
            }
        });

        $("#passwordField").keyup(function() {
            var pass = $(this).val();
            var strength = 1;
            var arr = [/.{8}/, /[a-z]+/, /[0-9]+/, /[A-Z]+/];
            $.map(arr, function (regexp) {
                if (pass.match(regexp))
                    strength++;
            });
            if (strength <= 2) {
                $("#passwordStrength").attr('class', "text-danger");
                $("#passwordStrength").html('<i class="fas fa-exclamation-triangle"></i> Password is Too Weak<br><b>A Strong Password Should contain</b><ul class="d-block pl-2"><li>At least 8 characters</li><li>A mixture of both uppercase and lowercase letters</li><li>A mixture of letters and numbers</li><li>Should contain at least one special character, e.g., !  # ? ]</li></ul > ');
            } else if (strength == 3) {
                $("#passwordStrength").attr('class', "text-warning");
                $("#passwordStrength").html('<i class=" fas fa-exclamation-triangle"></i> Password is Medium');
            } else if (strength == 4) {
                $("#passwordStrength").attr('class', "text-success");
                $("#passwordStrength").html('<i class="fa fa-check-circle" aria-hidden="true"></i> Password is Strong');
            }



        });



    });
    </script>
}