﻿@model ProjectSDT.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container p-5 my-3">
    <hr />


    <div class="row">
        <div class="col-md-7 col-lg-5 col-12 mx-auto rounded-0" >
            <div class="p-5" style="background-color: #f6f8f7;">
                <form asp-action="Login">
                    <h2 class="pb-3 text-center text-muted">Sign In</h2>
                    @if (TempData["successMessage"] != null)
                    {
                        <div class="text-success pb-3">@TempData["successMessage"]</div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger pb-3 pl-1"></div>
                    <div class="form-group">
                        @ViewData["SessEmail"]
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a href="" class="text-muted">Forgot Password?</a>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Sign In" style="border-radius:50px;" class="btn py-4" />
                    </div>
                    <div class="text-center text-muted">Or</div>
                    <div class="form-group text-center">
                        <a asp-action="Register" class="text-muted"><u>Create an Account</u></a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
