﻿@using System.Security.Claims;
@model ProjectSDT.Models.User;
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background: #f5f7f6;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #f25a01
    }


    .back:hover {
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }
</style>

<div class="about-area2 " style="padding-top:120px;">
    <div class="container">







        <div class="container rounded bg-white mb-5">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <form asp-action="ChangeProfileImage" asp-controller="Account" enctype="multipart/form-data">
                            <img class="rounded-circle mt-5 pb-3" src="@User.Claims.Where(c => c.Type == ClaimTypes.Uri).Select(c => c.Value).SingleOrDefault()" style="height:200px;" alt="Avatar">
                            <input type="file" class="d-none" id="Profile_image" accept="image/*" name="file" />
                            <button type="button" onclick="document.getElementById('Profile_image').click()" class="border-btn d-block py-3 mx-auto">Change</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-7 ">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        @if (TempData["successMessage"] != null)
                        {
                            <span class="d-block py-3 text-success">@TempData["successMessage"]</span>
                        }
                        else if (TempData["errorMessage"] != null)
                        {
                            <span class="d-block py-3 text-danger">@TempData["errorMessage"]</span>
                        }
                        <form asp-action="UpdateProfileDetails" asp-controller="Account">
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <label class="labels">Name</label>
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Name" value="@User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label class="labels">PhoneNumber</label>
                                    <input type="text" class="form-control" asp-for="PhoneNo" placeholder="Phone" value="@User.Claims.Where(c => c.Type == ClaimTypes.MobilePhone).Select(c => c.Value).SingleOrDefault()">
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Address</label>
                                    <input type="text" class="form-control" asp-for="Address" placeholder="Address" value="@User.Claims.Where(c => c.Type == ClaimTypes.StreetAddress).Select(c => c.Value).SingleOrDefault()">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Email Address</label>
                                    <input type="text" class="form-control" asp-for="Email" placeholder="Email Address" value="@User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button> <a asp-action="ChangePassword">Reset Password</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



















    </div>
</div>




@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#Profile_image").on('change', function () {
                $(this).parent().submit();
            });
        });
    </script>
}