﻿@model ProjectSDT.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container p-5 my-3">
    <hr />
    <div class="row">
        <div class="col-md-7 col-lg-5 col-12 mx-auto rounded-0">
            <div class="p-5" style="background-color: #f6f8f7;">
                <form asp-action="Register">
                    <h2 class="pb-3 text-center text-muted">Register</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" id="passwordField" type="password" MinimumLowerCaseCharacters="2" MinimumNumericCharacters="2" MinimumUpperCaseCharacters="2" PreferredPasswordLength="10" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <small id="passwordStrength"></small>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="showPasswordCheck" /> Show Password
                    </div>
                    <div class="form-group text-center pt-3">
                        <input type="submit" value="Register Now" style="border-radius:50px;" class="btn py-4" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script>
    $(function () {
        $("#showPasswordCheck").on('change', function () {
            if ($(this).prop("checked") == true) {
                $("#passwordField").attr("type", "text");
            } else{
                $("#passwordField").attr("type", "password");
            }
        });


        $("#passwordField").keyup(function() {
            var pass = $(this).val();
            var strength = 1;
            var arr = [/.{8}/, /[a-z]+/, /[0-9]+/, /[A-Z]+/];
            $.map(arr, function (regexp) {
                if (pass.match(regexp))
                    strength++;
            });
            if (strength <= 2) {
                $("#passwordStrength").attr('class', "text-danger");
                $("#passwordStrength").html('<i class="fas fa-exclamation-triangle"></i> Password is Too Weak<br><b>A Strong Password Should contain</b><ul class="d-block pl-2"><li>At least 8 characters</li><li>A mixture of both uppercase and lowercase letters</li><li>A mixture of letters and numbers</li><li>Should contain at least one special character, e.g., !  # ? ]</li></ul > ');
            } else if (strength == 3) {
                $("#passwordStrength").attr('class', "text-warning");
                $("#passwordStrength").html('<i class=" fas fa-exclamation-triangle"></i> Password is Medium');
            } else if (strength == 4) {
                $("#passwordStrength").attr('class', "text-success");
                $("#passwordStrength").html('<i class="fa fa-check-circle" aria-hidden="true"></i> Password is Strong');
            }



        });



    });
</script>
}
