﻿@using System.Security.Claims;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background: #f5f7f6;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #f25a01
    }


    .back:hover {
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }
</style>

<div class="about-area2 " style="padding-top:120px;">
    <div class="container">



        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" src="@User.Claims.Where(c => c.Type == ClaimTypes.Uri).Select(c => c.Value).SingleOrDefault()" style="height:150px;">
                        <span class="font-weight-bold py-1">@User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()</span>
                        <span class="text-black-50 py-1">@User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()</span>
                        <span class="text-black-50 py-1">@User.Claims.Where(c => c.Type == ClaimTypes.StreetAddress).Select(c => c.Value).SingleOrDefault()</span>
                        <span class="text-black-50 py-1">@User.Claims.Where(c => c.Type == ClaimTypes.MobilePhone).Select(c => c.Value).SingleOrDefault()</span>
                        <a asp-action="Profile" asp-controller="Account" class="btn">Change Profile </a>
                    </div>
                </div>
                <div class="col-md-4 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Dashboard</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Current Package : </label></div>
                            <div class="col-md-6"><label class="labels">@ViewData["UserPackageName"]</label></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels"> Package Status : </label></div>
                            <div class="col-md-6"><label class="labels">@ViewData["UserCurrentPackageStatus"]</label></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Package Start Date : </label></div>
                            <div class="col-md-6"><label class="labels">@ViewData["UserPackageStartDate"]</label></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Package End Date : </label></div>
                            <div class="col-md-6"><label class="labels">@ViewData["UserPackageEndDate"]</label></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 pb-3"><a asp-action="Plans" asp-controller="Home" class="btn">Selec your Package</a></div>
                            <div class="col-md-6"><a  asp-action="Complain" asp-controller="Home" class="btn">Submit a Complain</a></div>
                        </div>

                        </div>
                    </div>
                <div class="col-md-5">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience"><span>Transactions</span></div><br>
                        <div class="col-md-12">
                            <table>
                                <thead>
                                    <th class="px-2">#</th>
                                    <th class="px-2">Package</th>
                                    <th class="px-2">Amount</th>
                                    <th class="px-2">Date</th>
                                </thead>
                                    <tbody style="display:none">
                                        <td class="px-2">1</td>
                                        <td class="px-2">Platinum</td>
                                        <td class="px-2">20$</td>
                                        <td class="px-2">13-01-2021</td>
                                    </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    </div>
</div>



















    </div>
</div>

