﻿@model ProjectSDT.Models.User
@{
    ViewData["Title"] = "Home";
}


<div class="slider-area ">
    <div class="slider-active">

        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".2s">Discover Your Teste</span>
                            <h1 data-animation="fadeInLeft" data-delay=".4s">We belive good food offer great smile</h1>
                            <p data-animation="fadeInLeft" data-delay=".6s">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>

                            <div class="hero__btn">
                                <a href="industries.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Resurvation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".2s">Discover Your Teste</span>
                            <h1 data-animation="fadeInLeft" data-delay=".4s">We belive good food offer great smile</h1>
                            <p data-animation="fadeInLeft" data-delay=".6s">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>

                            <div class="hero__btn">
                                <a href="industries.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Resurvation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-low-area section-padding30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">

                    <div class="section-tittle mb-35">
                        <span>  Discover Your Taste</span>
                        <h2>We Provide Good Food For Your Family!</h2>
                    </div>
                    <p>Ut enim acgsd minim veniam, quxcis nostrud exercitation ullamco laboris nisi ufsit aliquip ex ea commodo consequat is aute irure m, quis nostrud exer.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                        <div class="single-caption mb-20">
                            <div class="caption-icon">
                                <span class="flaticon-restaurant"></span>
                            </div>
                            <div class="caption">
                                <p>Ut enim ad minim veniam, quis nostrud exer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                        <div class="single-caption mb-20">
                            <div class="caption-icon">
                                <span class="flaticon-tools-and-utensils-1"></span>
                            </div>
                            <div class="caption">
                                <p>Ut enim ad minim veniam, quis nostrud exer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                        <div class="single-caption mb-20">
                            <div class="caption-icon">
                                <span class="flaticon-hat"></span>
                            </div>
                            <div class="caption">
                                <p>Ut enim ad minim veniam, quis nostrud exer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                        <div class="single-caption mb-20">
                            <div class="caption-icon">
                                <span class="flaticon-restaurant"></span>
                            </div>
                            <div class="caption">
                                <p>Ut enim ad minim veniam, quis nostrud exer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">

                <div class="about-img ">
                    <img src="assets/img/gallery/about.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<section class="gallery-area fix ">

    <div class="gallery-top section-bg pt-90 pb-40" data-background="assets/img/gallery/section_bg01.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">

                    <div class="section-tittle text-center mb-70">
                        <span>Our Offerd Menu</span>
                        <h2>Some Trendy And Popular Courses Offerd</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="properties__button">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Special</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Lunch</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Brakefirst </a>
                            <a class="nav-item nav-link" id="nav-dinner-tab" data-toggle="tab" href="#nav-dinner" role="tab" aria-controls="nav-dinner" aria-selected="false"> Dinner </a>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid p-0">

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                <div class="g-caption">
                                    <span>$25</span>
                                    <h4>Delicious Food</h4>
                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                    <a href="#" class="btn order-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                <div class="g-caption">
                                    <span>$25</span>
                                    <h4>Delicious Food</h4>
                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                    <a href="#" class="btn order-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="row no-gutters">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                <div class="g-caption">
                                    <span>$25</span>
                                    <h4>Delicious Food</h4>
                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                    <a href="#" class="btn order-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                <div class="g-caption">
                                    <span>$25</span>
                                    <h4>Delicious Food</h4>
                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                    <a href="#" class="btn order-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="row no-gutters">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                <div class="g-caption">
                                    <span>$25</span>
                                    <h4>Delicious Food</h4>
                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                    <a href="#" class="btn order-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                <div class="g-caption">
                                    <span>$25</span>
                                    <h4>Delicious Food</h4>
                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                    <a href="#" class="btn order-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="row no-gutters">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-dinner" role="tabpanel" aria-labelledby="nav-dinner">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                <div class="g-caption">
                                    <span>$25</span>
                                    <h4>Delicious Food</h4>
                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                    <a href="#" class="btn order-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                <div class="g-caption">
                                    <span>$25</span>
                                    <h4>Delicious Food</h4>
                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                    <a href="#" class="btn order-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="row no-gutters">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


<div class="about-area2 section-padding30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">

                <div class="about-img ">
                    <img src="assets/img/gallery/about2.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">

                    <div class="section-tittle mb-35">
                        <span>About Our Restaurant</span>
                        <h2>We Provide Good Food For Your Family!</h2>
                    </div>
                    <p class="pera-top">Ut enim acgsd minim veniam, quxcis nostrud exercitation ullamco laboris nisi ufsit aliquip ex ea commodo consequat is aute irure m, quis nostrud exer</p>
                    <p class="mb-65 pera-bottom">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected our, or randomised words which don't look even slightly believab If you are going to use a passage.</p>
                    <a href="about.html" class="border-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="booking-area section-bg pt-120 pb-130" data-background="assets/img/gallery/section_bg04.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">

                <div class="section-tittle text-center mb-40">
                    <span>About Our Restaurant</span>
                    <h2>Book A Table</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <form action="#">
                    <div class="booking-wrap d-flex justify-content-between align-items-center">

                        <div class="single-select-box mb-30">
                            <div class="select-this">
                                <div class="select-itms">
                                    <div class="select-icon">
                                        <i class="ti-user"></i>
                                    </div>
                                    <select name="select" id="select1">
                                        <option value="">Person</option>
                                        <option value="">Person 2</option>
                                        <option value="">Person 3</option>
                                        <option value="">Person 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="single-select-box mb-30">
                            <div class="boking-datepicker">
                                <input id="datepicker1" placeholder="Date" />
                            </div>
                        </div>

                        <div class="single-select-box mb-30">
                            <div class="boking-datepicker">
                                <input id="timepicker" placeholder="Time" />
                            </div>
                        </div>

                        <div class="single-select-box mb-30">
                            <button class="btn select-btn">Book Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="our-services section-padding30">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">

                <div class="section-tittle text-center mb-70">
                    <span>Servicees We Offer</span>
                    <h2>Our Best Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-restaurant"></span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Best Chef</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services active text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-tools-and-utensils-1"></span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Quality Food</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-restaurant"></span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Perfect Cook</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-area3 pt-180 pb-170 section-bg" id="Newsletter" data-background="assets/img/gallery/section_bg03.png">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-6 col-lg-6 col-md-9 col-sm-11">

                <div class="section-tittle section-tittle2 mb-40">
                    <span>Want to get Daily Updates?</span>
                    <h2>Subscibe Our Newsletter to get daily Update.</h2>
                </div>
                @if (TempData["successMessage"] != null)
                {
                    <span class="d-block py-3 text-success">@TempData["successMessage"]</span>
                }
                else if (TempData["errorMessage"] != null)
                {
                    <span class="d-block py-3 text-danger">@TempData["errorMessage"]</span>
                }
                <form asp-action="Newsletter" asp-controller="Home" class="search-box">

                    <div class="input-form">
                        <input type="email" asp-for="Email" placeholder="Your Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="search-form">
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<section class="blogs-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="section-tittle text-center mb-70">
                    <span>Our New Blog News</span>
                    <h2>Our Recnet News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="assets/img/gallery/blog1.png" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="blog_details.html">Addiction When Food Plate Becomes</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="assets/img/gallery/blog2.png" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="blog_details.html">Addiction When Food Plate Becomes</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="assets/img/gallery/blog3.png" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="blog_details.html">Addiction When Food Plate Becomes</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


