﻿
@{
    ViewData["Title"] = "Menus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .pricingTable {
            background: repeating-linear-gradient(#fff,#fff 10px,#f9f9f9 10px,#f5f5f5 20px);
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            margin: 22px;
            border: 1px solid #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.4);
            border-radius: 10px;
            position: relative;
            z-index: 1;
        }

            .pricingTable .pricingTable-header {
                color: #fff;
                background: linear-gradient(to right, #ff5600, rgba(255, 86, 0, 0.55));
                text-align: left;
                padding: 25px 50px;
                margin: -20px 20px 30px -20px;
                border-radius: 7px;
                position: relative;
            }

                .pricingTable .pricingTable-header:before,
                .pricingTable .pricingTable-header:after {
                    content: "";
                    background: linear-gradient(to top right, transparent 50%, #ff5600 52%);
                    width: 18px;
                    height: 20px;
                    position: absolute;
                    bottom: -16px;
                    left: 0;
                    z-index: -1;
                }

                .pricingTable .pricingTable-header:after {
                    width: 17px;
                    height: 19px;
                    transform: rotate(180deg);
                    top: 0;
                    right: -13px;
                    left: auto;
                    bottom: auto;
                }

            .pricingTable .title {
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 1px;
                margin: 0 0 10px;
            }

            .pricingTable .price-value .currency {
                font-size: 22px;
            }

            .pricingTable .price-value .amount {
                font-size: 40px;
                margin: 0 0 5px;
                display: inline-block;
            }

            .pricingTable .price-value .duration {
                font-size: 24px;
                display: block;
            }

            .pricingTable .pricing-content {
                text-align: left;
                padding: 0;
                margin: 0 0 40px;
                list-style: none;
                display: inline-block;
            }

                .pricingTable .pricing-content li {
                    color: #272727;
                    font-size: 17px;
                    padding: 0 0 0 35px;
                    margin: 0 0 18px;
                    position: relative;
                }

                    .pricingTable .pricing-content li:last-child {
                        margin: 0;
                    }

                    .pricingTable .pricing-content li:before {
                        color: #ff5600;
                        content: "\f00c";
                        font-family: "Font Awesome 5 free";
                        font-size: 17px;
                        font-weight: 900;
                        line-height: 14px;
                        width: 19px;
                        height: 19px;
                        padding-left: 2px;
                        border-radius: 50%;
                        border: 2px solid #ff5600;
                        position: absolute;
                        top: 3px;
                        left: 0;
                    }

            .pricingTable .pricingTable-signup a {
                background: linear-gradient(to right, #ff5600, rgba(255, 86, 0, 0.55));
                color: #fff;
                font-size: 17px;
                font-weight: 500;
                text-align: center;
                text-transform: capitalize;
                letter-spacing: 1px;
                width: 150px;
                margin: 0 auto -22px;
                padding: 11px;
                border-radius: 50px;
                display: block;
                transition: all 0.5s;
            }

                .pricingTable .pricingTable-signup a:hover {
                    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 0 5px rgba(0,0,0,0.8);
                }

            .pricingTable.blue .pricingTable-header,
            .pricingTable.blue .pricingTable-signup a {
                background: linear-gradient(to right, #02C3EE, #0053C3);
            }

                .pricingTable.blue .pricingTable-header:before,
                .pricingTable.blue .pricingTable-header:after {
                    background: linear-gradient(to top right, transparent 50%, #02C3EE 52%);
                }

            .pricingTable.blue .pricing-content li:before {
                color: #02C3EE;
                border-color: #02C3EE;
            }
    </style>
}
<div class="slider-area">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2">
                        <h2>Our Weekly Menu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area2 section-padding30">
    <div class="container" id="output-container">
        


        
    </div>
</div>


@section Scripts{
    <script>
    $(function () {

        var output = "";
        var PlanListString = "@ViewData["PackagesList"]".replace(/&quot;/g, '\"');
        var PlanListJsonData = JSON.parse(PlanListString);
        var MenuListString = "@ViewData["MenuList"]".replace(/&quot;/g, '\"');
        var MenuListJsonData = JSON.parse(MenuListString);
        for (var k in PlanListJsonData) {
            if (PlanListJsonData[k].Status == "true") {
                output += '<div class="row py-5 justify-content-center">'
                            + '<hr class="col-3 d-inline" style = "border:1px solid rgba(0, 0, 0, 0.52);" />'
                            + '<h3 class="col-auto " style="padding-top:18px;">' + PlanListJsonData[k].Name + '</h3>'
                            +'<hr class="col-3 d-inline" style="border:1px solid rgba(0, 0, 0, 0.52);" />'
                    + '</div >';
                for (var J in MenuListJsonData) {
                    if (PlanListJsonData[k].MenuId == MenuListJsonData[J].Id) {
                        output += '<div class="row">'
                            +'<div class="col-md-4 col-sm-6" >'
                            +'<div class="pricingTable">'
                            +'<div class="pricingTable-header">'
                            +'<div class="price-value">'
                            +'<span class="amount">Monday</span>'
                            +'</div>'
                            + '</div > ' + decodeURIComponent(MenuListJsonData[J].Monday) 
                            +'</div>'
                            +'</div >';
                        output +='<div class="col-md-4 col-sm-6" >'
                            + '<div class="pricingTable">'
                            + '<div class="pricingTable-header">'
                            + '<div class="price-value">'
                            + '<span class="amount">Tuesday</span>'
                            + '</div>'
                            + '</div > ' + decodeURIComponent(MenuListJsonData[J].Tuesday)
                            + '</div>'
                            + '</div >';
                        output +='<div class="col-md-4 col-sm-6" >'
                            + '<div class="pricingTable">'
                            + '<div class="pricingTable-header">'
                            + '<div class="price-value">'
                            + '<span class="amount">Wednesday</span>'
                            + '</div>'
                            + '</div > ' + decodeURIComponent(MenuListJsonData[k].Wednesday)
                            + '</div>'
                            + '</div >';
                        output +='<div class="col-md-4 col-sm-6" >'
                            + '<div class="pricingTable">'
                            + '<div class="pricingTable-header">'
                            + '<div class="price-value">'
                            + '<span class="amount">Thursday</span>'
                            + '</div>'
                            + '</div > ' + decodeURIComponent(MenuListJsonData[J].Thursday)
                            + '</div>'
                            + '</div >';
                        output +='<div class="col-md-4 col-sm-6" >'
                            + '<div class="pricingTable">'
                            + '<div class="pricingTable-header">'
                            + '<div class="price-value">'
                            + '<span class="amount">Friday</span>'
                            + '</div>'
                            + '</div > ' + decodeURIComponent(MenuListJsonData[J].Friday)
                            + '</div>'
                            + '</div >';
                        output +='<div class="col-md-4 col-sm-6" >'
                            + '<div class="pricingTable">'
                            + '<div class="pricingTable-header">'
                            + '<div class="price-value">'
                            + '<span class="amount">Saturday</span>'
                            + '</div>'
                            + '</div > ' + decodeURIComponent(MenuListJsonData[J].Saturday)
                            + '</div>'
                            + '</div >';
                        output +='<div class="col-md-4 col-sm-6" >'
                            + '<div class="pricingTable">'
                            + '<div class="pricingTable-header">'
                            + '<div class="price-value">'
                            + '<span class="amount">Sunday</span>'
                            + '</div>'
                            + '</div > ' + decodeURIComponent(MenuListJsonData[J].Sunday)
                            + '</div>'
                            + '</div >'
                            + '</div >';
                    }
                }
            }
        }



        $("#output-container").html(output);


            

});</script>
}