﻿@using ProjectSDT.Helper

@model IEnumerable<System.Security.Claims.Claim>
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>@ViewData["Title"] - Bunny Beans</title>
    <link href="~/admin_assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin_assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/vendors/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="~/admin_assets/vendors/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/admin_assets/vendors/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/admin_assets/vendors/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/admin_assets/vendors/dataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/main.min.css" rel="stylesheet" />
    <link href="~/admin_assets/vendors/summernote/dist/summernote.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <div class="wrapper">
                <a class="page-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/img/logo/logo.png" alt="">
                </a>
                <div class="flexbox flex-1">
                    <!-- START TOP-LEFT TOOLBAR-->
                    <ul class="nav navbar-toolbar">
                    </ul>
                    <!-- END TOP-LEFT TOOLBAR-->
                    <!-- START TOP-RIGHT TOOLBAR-->
                    <ul class="nav navbar-toolbar">



                        <li class="dropdown dropdown-user">
                            <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                                <span>@User.Identity.Name</span>
                                <img src="@User.Claims.Where(c => c.Type == ClaimTypes.Uri).Select(c => c.Value).SingleOrDefault()" alt="image" />
                            </a>
                            <div class="dropdown-menu dropdown-arrow dropdown-menu-right admin-dropdown-menu">
                                <div class="dropdown-arrow"></div>
                                <div class="dropdown-header">
                                    <div class="admin-avatar">
                                        <img src="@User.Claims.Where(c => c.Type == ClaimTypes.Uri).Select(c => c.Value).SingleOrDefault()" alt="image" />
                                    </div>
                                    <div>
                                        <h5 class="font-strong text-white">@User.Identity.Name</h5>
                                    </div>
                                </div>
                                <div class="admin-menu-features">
                                    <a class="admin-features-item" href="javascript:;">
                                        <i class="ti-user"></i>
                                        <span>PROFILE</span>
                                    </a>
                                </div>
                                <div class="admin-menu-content">
                                    
                                    <div class="d-flex justify-content-between mt-2">
                                        <form asp-action="logout" asp-controller="account" id="logoutFormSubmit">
                                            <a class="d-flex align-items-center" href="javascript:;" onclick="document.getElementById('logoutFormSubmit').submit()">
                                                Logout<i class="ti-shift-right ml-2 font-20"></i>
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- END TOP-RIGHT TOOLBAR-->
                </div>
            </div>
        </header>
        <!-- END HEADER-->
        <div class="fade-in-up">
            <!-- START TOP NAVBAR-->
            <div class="top-navbar">
                <div class="wrapper">
                    <div class="navbar-tabs-wrapper">
                        <ul class="nav nav-tabs top-navbar-tabs">
                            @if (ViewData["Page"] == "Plans")
                            {
                                <li class="nav-item ">
                                    <a class="nav-link active" asp-action="Plans" asp-controller="Admin">Plans</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Plans" asp-controller="Admin">Plans</a>
                                </li>
                            }

                            @if (ViewData["Page"] == "Menus")
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" asp-action="Menus" asp-controller="Admin">Weekly Menu</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Menus" asp-controller="Admin">Weekly Menu</a>
                                </li>
                            }

                            @if (ViewData["Page"] == "Customer")
                            {
                                <li class="nav-item ">
                                    <a class="nav-link active" asp-action="Customers" asp-controller="Admin">Customer</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Customers" asp-controller="Admin">Customer</a>
                                </li>
                            }


                            @if (ViewData["Page"] == "Transaction")
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" asp-action="Plans" asp-controller="Admin">Transaction</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Plans" asp-controller="Admin">Transaction</a>
                                </li>
                            }

                            @if (ViewData["Page"] == "Newsletter")
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" asp-action="Newsletter" asp-controller="Admin">Newsletter</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Newsletter" asp-controller="Admin">Newsletter</a>
                                </li>
                            }

                            @if (ViewData["Page"] == "Complains")
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" asp-action="Complains" asp-controller="Admin">Complains</a>
                                </li>
                            }
                            else{
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Complains" asp-controller="Admin">Complains</a>
                        </li>
                                }

                            </ul>
                    </div>

                </div>
            </div>
            <!-- END TOP NAVBAR-->
            <div class="wrapper content-wrapper">
                @RenderBody()
                <footer class="page-footer">
                    <div class="font-13">2020 © <b>Bunny Beans</b> - Save your time, choose the best</div>
                    <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
                </footer>
            </div>
        </div>
    </div>

    @RenderSection("PartialModels", required: false)

    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <script src="~/admin_assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/admin_assets/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/admin_assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/admin_assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/admin_assets/vendors/jquery-idletimer/dist/idle-timer.min.js"></script>
    <script src="~/admin_assets/vendors/toastr/toastr.min.js"></script>
    <script src="~/admin_assets/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/admin_assets/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <script src="~/admin_assets/vendors/summernote/dist/summernote.min.js"></script>
    <script src="~/admin_assets/vendors/dataTables/datatables.min.js"></script>
    <!-- CORE SCRIPTS-->
    <script src="~/admin_assets/js/app.min.js"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script>
        $(function () {
            $('.Summer-note').summernote();
        });
        $('body').delegate('.DeleteDataFromTable','click', function () {
            return confirm('Are you sure you want to delete this record?');
        });
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }</script>

    @if (TempData["successMessage"] != null)
    {
        <script>toastr["success"]("@TempData["successMessage"]");</script>
    }
    else if(TempData["ErrorMessage"] != null)
    {
        <script>toastr["error"]("@TempData["ErrorMessage"]");</script>
    }

    @RenderSection("Scripts", required: false)
</body>

</html>