﻿@using ProjectSDT.Helper

@model IEnumerable<System.Security.Claims.Claim>
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bunny Beans</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <header>

        <div class="header-area header-transparent">
            <div class="main-header  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">

                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                            <li><a asp-controller="Home" asp-action="Plans">Our Plans</a></li>
                                            <li><a asp-controller="Home" asp-action="Menus">Weekly Menu</a></li>
                                            <li><a asp-controller="Home" asp-action="Complain">Submit a Complain</a></li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="header-right-btn f-right d-none d-lg-block">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="btn-group">
                                            <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown">
                                                <img src="@User.Claims.Where(c => c.Type == ClaimTypes.Uri).Select(c => c.Value).SingleOrDefault()" style="height:40px;" alt="Alternate Text" class="rounded-circle" />
                                                @User.Identity.Name</a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-action="Dashboard" asp-controller="Account">Dashboard</a>
                                                <a class="dropdown-item" asp-action="Profile" asp-controller="Account">Profile</a>
                                                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change Password</a>
                                                <div class="dropdown-divider"></div>
                                                <form asp-action="logout" asp-controller="account" id="logoutFormSubmit">
                                                    <a class="dropdown-item" href="javascript:;" onclick="document.getElementById('logoutFormSubmit').submit()">Logout</a>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-action="Login" asp-controller="Account" class="btn py-4 " style="border-radius:50px;"> SignIn</a>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>




    <footer>

        <div class="footer-area section-bg" data-background="/assets/img/gallery/section_bg02.png">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="~/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Navigation</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a asp-controller="Home" asp-action="Plans">Our Plans</a></li>
                                        <li><a asp-controller="Home" asp-action="Menus">Weekly Menu</a></li>
                                        <li><a asp-controller="Home" asp-action="Complain">Submit a Complain</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Useful Links</h4>
                                    <ul>
                                        <li><a asp-controller="Account" asp-action="Register">Registration</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                      
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="footer-copy-right">
                                <p>
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </footer>
    <div id="back-top">
        <a title="Go to Top" href="javascript:;"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>
    <script src="~/assets/js/gijgo.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
