﻿
@{
    ViewData["Title"] = "Customers";
    ViewData["Page"] = "Customer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="ibox">
        <div class="ibox-body">
            <div class="flexbox mb-5">
                <h5 class="font-strong">CUSTOMERS LIST</h5>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                    </div>
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="products-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>#</th>
                            <th>Customer</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Package Status</th>
                            <th>Account Status</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function () {

            var CustomersListString = "@ViewData["CustomersList"]".replace(/&quot;/g, '\"');
            var CustomerListJsonData = JSON.parse(CustomersListString);
            for (var k in CustomerListJsonData) {
                var Status = "Blocked";
                var NewStatus = "Active";
                var SatusClass = "badge-danger";
                var PackageStatus = "Blocked";
                var NewPackageStatus = "Active";
                var PackageSatusClass = "badge-danger";
                var profileImage = CustomerListJsonData[k].Profile_image;
                if (profileImage == null) {
                    profileImage = "https://ui-avatars.com/api/?name=" + CustomerListJsonData[k].Name;
                }
                if (CustomerListJsonData[k].Status == "Active") {
                    Status = "Active"; SatusClass = "badge-success"; NewStatus = "Blocked";
                }
                if (CustomerListJsonData[k].CurrentPackageStatus == "Active") {
                    PackageStatus = "Active"; PackageSatusClass = "badge-success"; NewPackageStatus = "Blocked";
                }
                var PackageData = "<td><a href='/Admin/UpdateStatusPlans/" + CustomerListJsonData[k].Id + "/?status=" + NewPackageStatus + "' class='badge " + PackageSatusClass + " badge-pill ViewMenuByID'>" + PackageStatus + "</a></td>";
                if (CustomerListJsonData[k].CurrentPackageStatus == null) {
                    PackageData = "<td>null</td>";
                }
                var rows = "<tr>"
                    + "<td>" + (parseInt(k) + 1) + "</td>"
                    + '<td><img class="img-circle mr-3" src="'+profileImage+'" alt="image" width="40" />' + CustomerListJsonData[k].Name + "</td>"
                    + "<td>" + CustomerListJsonData[k].Email + "</td>"
                    + "<td>" + CustomerListJsonData[k].PhoneNo + "</td>"
                    + PackageData
                    + "<td><a href='/Admin/UpdateCustomerStatus/" + CustomerListJsonData[k].Id + "/?status=" + NewStatus + "' class='badge " + SatusClass + " badge-pill'>" + Status + "</a></td>"
                    + '<td><a class="text-light font-16 DeleteDataFromTable" href="/Admin/DeleteCustomer/' + CustomerListJsonData[k].Id + '"><i class="ti-trash"></i></a></td >'
                    + "</tr>";
                $('#products-table tbody').append(rows);
            }

            $('#products-table').DataTable({
                pageLength: 10,
                fixedHeader: true,
                responsive: true,
                "sDom": 'rtip',
            });
            var table = $('#products-table').DataTable();
            $('#key-search').on('keyup', function () {
                table.search(this.value).draw();
            });
            $('#type-filter').on('change', function () {
                table.column(5).search($(this).val()).draw();
            });
        });
    </script>
}