﻿
@model ProjectSDT.Models.Menu
@{
    ViewData["Title"] = "Menus";
    ViewData["Page"] = "Menus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">Menu LIST</h5>
            <div class="flexbox mb-4">
                <div class="flexbox">
                    
                </div>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                    </div>
                    <a class="btn btn-rounded btn-primary btn-air" href="javascript:;" data-toggle="modal" data-target="#Add_Menu">Add Menu</a>
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="products-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Monday($)</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section PartialModels{
    <div class="modal fade" id="Add_Menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Menu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="AddMenus" asp-controller="Admin">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-12">
                                <input asp-for="Name" class="form-control" type="text">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Monday" class="col-sm-2 col-form-label">Monday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Monday" class="form-control Summer-note" rows="4" required></textarea>
                                <span asp-validation-for="Monday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Tuesday" class="col-sm-2 col-form-label">Tuesday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Tuesday" class="form-control Summer-note" rows="4"></textarea>
                                <span asp-validation-for="Tuesday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Wednesday" class="col-sm-2 col-form-label">Wednesday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Wednesday" class="form-control Summer-note" rows="4"></textarea>
                                <span asp-validation-for="Wednesday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Thursday" class="col-sm-2 col-form-label">Thursday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Thursday" class="form-control Summer-note" rows="4"></textarea>
                                <span asp-validation-for="Thursday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Friday" class="col-sm-2 col-form-label">Friday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Friday" class="form-control Summer-note" rows="4"></textarea>
                                <span asp-validation-for="Friday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Saturday" class="col-sm-2 col-form-label">Saturday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Saturday" class="form-control Summer-note" rows="4"></textarea>
                                <span asp-validation-for="Saturday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Sunday" class="col-sm-2 col-form-label">Sunday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Sunday" class="form-control Summer-note" rows="4"></textarea>
                                <span asp-validation-for="Sunday" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>






    <div class="modal fade" id="Update_Menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Menu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="UpdateMenus" asp-controller="Admin">
                    <input asp-for="Id" class="form-control" type="hidden" id="edit_id">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-12">
                                <input asp-for="Name" class="form-control" type="text" id="edit_name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Monday" class="col-sm-2 col-form-label">Monday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Monday" class="form-control Summer-note"  rows="4" required id="edit_monday"></textarea>
                                <span asp-validation-for="Monday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Tuesday" class="col-sm-2 col-form-label">Tuesday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Tuesday" class="form-control Summer-note" rows="4" required id="edit_tuesday"></textarea>
                                <span asp-validation-for="Tuesday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Wednesday" class="col-sm-2 col-form-label">Wednesday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Wednesday" class="form-control Summer-note"  rows="4" required id="edit_wednesday"></textarea>
                                <span asp-validation-for="Wednesday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Thursday" class="col-sm-2 col-form-label">Thursday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Thursday" class="form-control Summer-note"  rows="4" required id="edit_thursday"></textarea>
                                <span asp-validation-for="Thursday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Friday" class="col-sm-2 col-form-label">Friday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Friday" class="form-control Summer-note"  rows="4" required id="edit_friday"></textarea>
                                <span asp-validation-for="Friday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Saturday" class="col-sm-2 col-form-label">Saturday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Saturday" class="form-control Summer-note"  rows="4" required id="edit_saturday"></textarea>
                                <span asp-validation-for="Saturday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Sunday" class="col-sm-2 col-form-label">Sunday</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Sunday" class="form-control Summer-note"  rows="4" required id="edit_sunday"></textarea>
                                <span asp-validation-for="Sunday" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}







@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        $(function () {

     var JSONSTring = "@ViewData["MenuList"]".replace(/&quot;/g, '\"');
            var JsonData = JSON.parse(JSONSTring);
            
                            for (var k in JsonData) {
                                var rows = "<tr>"
                                    + "<td>" + (parseInt(k)+1) + "</td>"
                                    + "<td>" + JsonData[k].Name + "</td>"
                                    + "<td>" + decodeURIComponent(JsonData[k].Monday) + "</td>"
                                    + "<td>" + decodeURIComponent(JsonData[k].Tuesday) + "</td>"
                                    + "<td>" + decodeURIComponent(JsonData[k].Wednesday) + "</td>"
                                    + "<td>" + decodeURIComponent(JsonData[k].Thursday) + "</td>"
                                    + "<td>" + decodeURIComponent(JsonData[k].Friday) + "</td>"
                                    + "<td>" + decodeURIComponent(JsonData[k].Saturday) + "</td>"
                                    + "<td>" + decodeURIComponent(JsonData[k].Sunday) + "</td>"
                                    + '<td><a class="text-light mr-3 font-16 Edit_Model_trigger" href="javascript:;" eid="' + JsonData[k].Id + '"  ><i class="ti-pencil"></i></a>'
                                    + '<a class="text-light font-16 DeleteDataFromTable" href="/Admin/DeleteMenus/' + JsonData[k].Id + '"><i class="ti-trash"></i></a></td >'
                                    + "</tr>";
                                $('#products-table tbody').append(rows);
                            }


            $('body').delegate('.Edit_Model_trigger', 'click', function () {
                var eid=$(this).attr('eid');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SingleMenus")',
                    data: { id: eid },
                    dataType: 'JSON',
                    beforeSend: function () {
                        $(".preloader-backdrop").show();
                    },
                    success: function (data) {
                        $("#edit_id").val(data.Id);
                        $("#edit_name").val(data.Name);
                        $("#edit_monday").summernote('code', decodeURIComponent(data.Monday));
                        $("#edit_tuesday").summernote('code', decodeURIComponent(data.Tuesday));
                        $("#edit_wednesday").summernote('code', decodeURIComponent(data.Wednesday));
                        $("#edit_thursday").summernote('code', decodeURIComponent(data.Thursday));
                        $("#edit_friday").summernote('code', decodeURIComponent(data.Friday));
                        $("#edit_saturday").summernote('code', decodeURIComponent(data.Saturday));
                        $("#edit_sunday").summernote('code', decodeURIComponent(data.Sunday));
                        $("#Update_Menu").modal('show');
                    },
                    error: function (xhr) { // if error occured
                        alert("Error occured.please try again");
                        console.log(xhr);
                        $(".preloader-backdrop").hide();
                    },
                    complete: function () {
                        $(".preloader-backdrop").hide();
                    },

                });
            });

                    $('#products-table').DataTable({
                        pageLength: 10,
                        fixedHeader: true,
                        responsive: true,
                        "sDom": 'rtip',
                    });
                    var table = $('#products-table').DataTable();
                    $('#key-search').on('keyup', function () {
                        table.search(this.value).draw();
                    });
                    $('#type-filter').on('change', function () {
                        table.column(2).search($(this).val()).draw();
                    });




        });</script>
}