﻿@model ProjectSDT.Models.Package
@{
    ViewData["Title"] = "Plans";
    ViewData["Page"] = "Plans";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">Plans LIST</h5>
            <div class="flexbox mb-4">
                <div class="flexbox">
                    <label class="mb-0 mr-2">Type:</label>
                    <select class="selectpicker show-tick form-control" id="type-filter" title="Please select" data-style="btn-solid" data-width="150px">
                        <option value="">All</option>
                        <option>Active</option>
                        <option>Blocked</option>
                    </select>
                </div>
                <div class="flexbox">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                    </div>
                    <a class="btn btn-rounded btn-primary btn-air" href="javascript:;" data-toggle="modal" data-target="#Add_Plan">Add Plan</a>
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="products-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price($)</th>
                            <th>Menu</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section PartialModels{
    <div class="modal fade" id="Add_Plan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Plan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="AddPlans" asp-controller="Admin">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-12">
                                <input asp-for="Name" class="form-control" type="text">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Description" class="form-control Summer-note" rows="4" required></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-12">
                                <input asp-for="Price" class="form-control" type="text">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="MenuId" class="col-sm-2 col-form-label">Menu</label>
                            <div class="col-sm-12">
                                <select asp-for="MenuId" class="form-control MenuList">
                                    <option></option>
                                </select>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">
                                Status : &nbsp;
                                <label class="ui-switch switch-icon ">
                                    <input type="checkbox" asp-for="Status" checked>
                                    <span></span>
                                </label>
                            </label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Update_Plan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Plan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="UpdatePlans" asp-controller="Admin">
                    <input asp-for="Id" class="form-control" type="hidden" id="eid_Id">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-12">
                                <input asp-for="Name" class="form-control" type="text" id="eid_Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-12">
                                <textarea asp-for="Description" class="form-control Summer-note" rows="4" required id="eid_Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-12">
                                <input asp-for="Price" class="form-control" type="number" min="1" id="eid_Price">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="MenuId" class="col-sm-2 col-form-label">Menu</label>
                            <div class="col-sm-12">
                                <select asp-for="MenuId" class="form-control MenuList" id="eid_Menu">
                                    <option></option>
                                </select>
                                <span asp-validation-for="MenuId" class="text-danger"></span>
                            </div>
                        </div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   


    <div class="modal fade bd-example-modal-lg" id="ModelViewMenu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content modal-dialog-centered">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Plan Menu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="text-center" id="menu_view_heading"></h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody id="menu_view_content">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts{
    <script>
        $(function () {

            var MenuListString = "@ViewData["MenuList"]".replace(/&quot;/g, '\"');
            
                var MenuListJsonData = JSON.parse(MenuListString);
                var rows = "";
                for (var k in MenuListJsonData) {
                    rows += "<option value='" + MenuListJsonData[k].Id + "'>" + MenuListJsonData[k].Name + "</option>";
                }
                $('.MenuList').html(rows);
            
            var PlanListString = "@ViewData["PackagesList"]".replace(/&quot;/g, '\"');
                var PlanListJsonData = JSON.parse(PlanListString);
                
                for (var k in PlanListJsonData) {
                    var Status = "Blocked";
                    var NewStatus = "Active";
                    var SatusClass = "badge-danger";
                    if (PlanListJsonData[k].Status == "true") {
                        Status = "Active"; SatusClass = "badge-success"; NewStatus = "Blocked";
                    }
                    var rows = "<tr>"
                        + "<td>" + (parseInt(k) + 1) + "</td>"
                        + "<td>" + PlanListJsonData[k].Name + "</td>"
                        + "<td>" + decodeURIComponent(PlanListJsonData[k].Description) + "</td>"
                        + "<td>" + PlanListJsonData[k].Price + "</td>"
                        + "<td><a href='javascript:;' vid='" + PlanListJsonData[k].MenuId + "' class='badge badge-primary badge-pill ViewMenuByID'>View</a></td>"
                        + "<td><a href='/Admin/UpdateStatusPlans/" + PlanListJsonData[k].Id + "/?status=" + NewStatus + "' class='badge " + SatusClass + " badge-pill'>" + Status + "</a></td>"
                        + '<td><a class="text-light mr-3 font-16 Edit_Model_trigger" href="javascript:;" eid="' + PlanListJsonData[k].Id + '"  ><i class="ti-pencil"></i></a>'
                        + '<a class="text-light font-16 DeleteDataFromTable" href="/Admin/DeletePlans/' + PlanListJsonData[k].Id + '"><i class="ti-trash"></i></a></td >'
                        + "</tr>";
                    $('#products-table tbody').append(rows);
                }
            

        $('body').delegate('.Edit_Model_trigger', 'click', function () {
                var eid=$(this).attr('eid');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SinglePlans")',
                    data: { id: eid },
                    dataType: 'JSON',
                    beforeSend: function () {
                        $(".preloader-backdrop").show();
                    },
                    success: function (data) {
                        $("#eid_Id").val(eid);
                        $("#eid_Name").val(data.Name);
                        $("#eid_Description").summernote('code', decodeURIComponent(data.Description));
                        $("#eid_Price").val(data.Price);
                        $("#eid_Menu").val(data.MenuId);
                        $("#Update_Plan").modal('show');
                    },
                    error: function (xhr) { // if error occured
                        alert("Error occured.please try again");
                        console.log(xhr);
                        $(".preloader-backdrop").hide();
                    },
                    complete: function () {
                        $(".preloader-backdrop").hide();
                    },

                });
            });

            $('body').delegate('.ViewMenuByID', 'click', function () {
                var eid=$(this).attr('vid');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SingleMenus")',
                    data: { id: eid },
                    dataType: 'JSON',
                    beforeSend: function () {
                        $(".preloader-backdrop").show();
                    },
                    success: function (data) {
                        $("#menu_view_heading").val(data.Name);
                        $("#menu_view_content").html('<tr><td>' + decodeURIComponent(data.Monday) + '</td><td>' + decodeURIComponent(data.Tuesday) + '</td><td>' + decodeURIComponent(data.Wednesday) + '</td><td>' + decodeURIComponent(data.Thursday) + '</td><td>' + decodeURIComponent(data.Friday) + '</td><td>' + decodeURIComponent(data.Saturday) + '</td><td>' + decodeURIComponent(data.Sunday) +'</td></tr>')
                        $("#ModelViewMenu").modal('show');
                    },
                    error: function (xhr) { // if error occured
                        alert("Error occured.please try again");
                        console.log(xhr);
                        $(".preloader-backdrop").hide();
                    },
                    complete: function () {
                        $(".preloader-backdrop").hide();
                    },

                });
            });

            $('#products-table').DataTable({
                pageLength: 10,
                fixedHeader: true,
                responsive: true,
                "sDom": 'rtip',
            });
            var table = $('#products-table').DataTable();
            $('#key-search').on('keyup', function () {
                table.search(this.value).draw();
            });
            $('#type-filter').on('change', function () {
                table.column(5).search($(this).val()).draw();
            });
        });</script>
}